server/include/boost/
server/cmake-build-release/
server/cmake-build-debug/
server/bin/
server/.vscode/
server/build/

android_app/kaf2020android/.idea/
android_app/kaf2020android/app/build/
android_app/kaf2020android/.gradle/
android_app/kaf2020android/local.properties

android_app/libbmp/cmake-build-debug/
android_app/libbmp/cmake-build-debug-wsl/
android_app/libbmp/cmake-build-default-wsl/
android_app/libbmp/cmake-build-release/
android_app/libbmp/bin/
