# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\GUY\Desktop\code\hacking\ctfs\CTFs\kaf2020\oops_my_exploit\server\.idea/dataSources/
/dataSources.local.xml
